---

---

<div
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="hide overflow-y-auto overflow-x-hidden fixed top-0 right-0 z-50 w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div
    class="absolute top-[40%] left-[50%] -translate-x-2/4 -translate-y-2/4 p-4 w-full max-w-xl max-h-full"
  >
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
      <!-- Modal header -->
      <div
        class="flex items-center justify-center p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-green-500">
          ¡Registro exitoso!
        </h3>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          Te has registrado exitosamente 🥳🥳, por favor dale aceptar para
          iniciar sesión e ingresar al sistema
        </p>
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <a
        href="/home"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Aceptar</a
        >
      </div>
    </div>
  </div>
</div>
