---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro"
import { gestion } from "@es";

export const prerender = false;

const user = Astro.locals.user;
if(user?.id == undefined){
  return Astro.redirect('/login')
}

---

<Layout title="inicio">
  <main class="flex flex-col w-full h-full items-center">
    <Header/>

    <article class="flex justify-start w-full pt-6 px-4">
        <h1 class="text-blue-500 text-xl font-bold max-w-56 ">{gestion.title}</h1>
    </article>

    
  </main>
</Layout>
