---
import HomeCard from "../components/atoms/HomeCard.astro";
import Layout from "../layouts/Layout.astro";
import { home } from "@es";
---

<Layout title="inicio">
  <main class="flex flex-col w-full h-full items-center">
    <header
      class="flex justify-center items-center text-white text-3xl font-bold pt-6 gap-2"
    >
      <p>SAC</p>
      <img
        width="50"
        height="50"
        src="./images/vaca192.webp"
        alt="Icono Vaca logo SAC"
      />
    </header>

    <section class="flex flex-wrap justify-center max-w-4xl pt-20 gap-5 md:gap-12">

        {
         home && home.cards.map(data => (
             <HomeCard data={data} />
            ))
        }
    </section>
  </main>
</Layout>
