---
import Layout from "../layouts/Layout.astro";

export const prerender = false
---

<Layout title="Bienvenido a SAC">
  <main class="flex flex-col justify-center items-center mt-8 mx-4">
    <section class="flex flex-col justify-center items-center">
      <img
        width="100"
        height="100"
        src="./images/vaca192.webp"
        alt="Icono Vaca logo SAC"
      />
      <h1 class="text-3xl text-white font-bold">Bienvenido a SAC</h1>
      <h3 class="text-sm text-gray-500 font-bold text-center mt-3">
        Sistema para la administración de diferentes areas en el campo
      </h3>
    </section>
    <section
      class="flex flex-col rounded-xl bg-slate-200 py-4 px-3 mt-16 [&>p]:text-slate700 [&>p]:font-semibold"
    >
      <header class="font-bold text-xl text-center mb-4 text-blue-600">
        ¿Que puedes hacer?
      </header>
      <p>- Registro y Seguimiento</p>
      <p>- Gestion de Inventarios y Suministros</p>
      <p>- Monitoreo de Cultivos y Clima</p>
      <p>- Compartir Conocimientos y Concejos</p>
    </section>

    <h3 class="text-blue-500 font-bold text-2xl mt-16 mb-3">¿Aun no tienes una cuenta?</h3>
    <a
      href="./register"
      class="bg-[#FD6A13] rounded-xl items-center py-1 px-2 text-white text-lg font-bold hover:shadow-lg hover:bg-white hover:text-[#FD6A13]"
      >Comenzar ahora</a
    >
    
    <h3 class="text-blue-500 font-bold text-2xl mt-16 mb-3">¿Ya tienes cuenta?</h3>
    <a
      href="./login"
      class="bg-blue-500 rounded-xl items-center py-1 px-2 text-white text-lg font-bold hover:shadow-lg hover:bg-blue-700"
      >Iniciar Sesion</a
    >
  </main>

  
</Layout>
