---
import Layout from "../layouts/Layout.astro";
import { FormLogin } from "../components/formLogin";
---

<Layout title="Login">
  <main class="flex flex-col items-center py-16">
    <h1 class="text-3xl text-white font-bold">Iniciar Sesion</h1>
    <FormLogin />
  </main>
</Layout>
