---
import Layout from "../layouts/Layout.astro";
import FormRegister from "../components/FormRegister.astro";

export const prerender = false;
---

<Layout title="Login">
  <main class="flex flex-col items-center py-16">
    <h1 class="text-3xl text-white font-bold">Registrarse</h1>
    <FormRegister />
  </main>
</Layout>
