---
export const prerender = false;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email");
    const password = data.get("password");
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<form
  method="POST"
  class="flex flex-col items-center text-white font-semibold gap-6 mt-10 [&>label>input]:mt-1 [&>label>input]:rounded-lg
   [&>label>input]:text-black [&>label>input]:font-semibold [&>label>input]:px-1.5 [&>label>input]:py-0.5"
>
  <label class="flex flex-col">
    Nombre:
    <input type="text" name="name" required />
  </label>
  <label class="flex flex-col">
    Primer Apellido:
    <input type="text" name="firstName" required />
  </label>
  <label class="flex flex-col">
    Segundo Apellido:
    <input type="text" name="lastName" required />
  </label>
  <label class="flex flex-col">
    Correo:
    <input type="email" name="email" required />
  </label>
  <label class="flex flex-col">
    Contraseña:
    <input type="password" name="password" required minlength="6" />
  </label>
  <label class="flex flex-col">
    Confirmar Contraseña:
    <input type="password" name="confirmPass" required minlength="6" />
  </label>

  <section class="flex gap-3">
    <button type="submit" class="bg-blue-500 px-2 py-1 rounded-xl font-bold"
      >Registrarse</button
    >
  </section>
</form>
