---
import { Argon2id } from "oslo/password";
import { db, Users, PersonalInfo } from "astro:db";
import { eq } from "astro:db";

export const prerender = false;

let correo: any = "nada";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email");
    const name = data.get("name");
    const firstName = data.get("firstName");
    const lastName = data.get("lastName");
    const password = data.get("password");
    const cpassword = data.get("confirmPass");
    const cell = data.get("cell");
    const type = "agricultor";
    correo = email;

    // insert data
    if (
      typeof email !== "string" &&
      typeof name !== "string" &&
      typeof lastName !== "string" &&
      typeof firstName !== "string" &&
      typeof cell !== "number"
    ) {
      return new Response("Invalid email or name", { status: 400 });
    }

    if (!/^[A-Za-z0-9_-]+$/.test(password!.toString())) {
      return new Response("Invalid password", { status: 400 });
    }

    if (password !== cpassword) {
      return new Response("Dont match password", { status: 400 });
    }

    // All is already

    if (typeof email === "string" && typeof password === "string") {
      const hashedPassword = await new Argon2id().hash(password);
      await db.insert(Users).values({ email, password: hashedPassword });
    }

    if (
      typeof email === "string" &&
      typeof name === "string" &&
      typeof firstName === "string" &&
      typeof lastName === "string" &&
      typeof type === "string" &&
      typeof cell === "number"
    ) {
      const user = await db
        .select()
        .from(Users)
        .where(eq(Users.email, email));

      await db
        .insert(PersonalInfo)
        .values({
          userID: user[0].id,
          name,
          firstName,
          lastName,
          type,
          cellphone: cell,
          cpIndicator: 57,
        });
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<form
  method="POST"
  class="flex flex-col items-center text-white font-semibold gap-6 mt-10 [&>label>input]:mt-1 [&>label>input]:rounded-lg
   [&>label>input]:text-black [&>label>input]:font-semibold [&>label>input]:px-1.5 [&>label>input]:py-0.5"
>
  <h1 class="text-white text-2xl">{correo}</h1>
  <label class="flex flex-col">
    Nombre:
    <input type="text" name="name" required />
  </label>

  <label class="flex flex-col">
    Primer Apellido:
    <input type="text" name="firstName" required />
  </label>

  <label class="flex flex-col">
    Segundo Apellido:
    <input type="text" name="lastName" required />
  </label>

  <label class="flex flex-col">
    Correo:
    <input type="email" name="email" required />
  </label>

  <label class="flex flex-col">
    Contraseña:
    <input type="password" name="password" required minlength="6" />
  </label>

  <label class="flex flex-col">
    Confirmar Contraseña:
    <input type="password" name="confirmPass" required minlength="6" />
  </label>

  <label class="flex flex-col">
    Numero de Celular:
    <input type="number" name="cel" required minlength="9" />
  </label>

  <section class="flex gap-3">
    <button type="submit" class="bg-blue-500 px-2 py-1 rounded-xl font-bold"
      >Registrarse</button
    >
  </section>
</form>
