---
/*import { db, Comment } from "astro:db";

export const prerender = false

if(Astro.request.method === 'POST'){
    const formData = await Astro.request.formData()
    const author = formData.get('author')
    const body = formData.get('content')

    if(typeof author === 'string' && typeof body === 'string'){
        await db.insert(Comment).values({author, body})
    }

}

const comments = await db.select().from(Comment);
---

<section
  class="flex flex-col items-center text-white font-semibold text-xl gap-3"
>
  <h2>Comments</h2>

  {
    comments && comments.map(({ author, body }) => (
      <article>
        <p>Author: {author}</p>
        <p>{body}</p>
      </article>
    ))
  }

  <form method="POST" class=" flex flex-col my-4 gap-3 [&>input]:text-black">
    <label for="author">Author</label>
    <input id="author" name="author"/>

    <label for="content">Body</label>
    <input id="content" name="content"/>

    <button type="submit">Enviar</button>
  </form>
</section>
*/